.tourist-spot-form {
    margin-bottom: 118px;

    .tourist-spot-inputs {
        display: flex;
        max-width: 704px;
        margin-bottom: 16px;
        @media screen and (max-width: $medium) {
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }

        .tourist-spot-image-wrapper,
        .tourist-spot-title-input,
        .tourist-spot-description-input {
            font-size: 16px;
            background: $white;
            border: 2px solid $gray-300;
            border-radius: 10px;
        }

        .tourist-spot-image-wrapper {
            justify-content: center;
            align-items: center;
            display: flex;
            margin-right: 16px;
            margin-bottom: 16px;
            width: 282px;
            height: 212px;

            .tourist-spot-image-span {
                font-size: 16px;
                color: $gray-500;
                text-align: center;
            }

            .tourist-spot-image-input {
                display: none;
                @media screen and (max-width: $medium) {
                    margin-bottom: 16px;
                    width: 100%;
                }
            }

            .tourist-spot-image-preview {
                max-width: 282px;
                max-height: 206px;
                border-radius: 10px;
            }
        }
    }

    .tourist-spot-title-input {
        width: 328px;
        height: 56px;
        padding: 16px;
        margin-bottom: 16px;
        @media screen and (max-width: $medium) {
            width: 100%;
        }
    }

    .tourist-spot-description-input {
        width: 416px;
        height: 136px;
        padding-left: 20px;
        padding-top: 16px;
        font-family: "Roboto", sans-serif;
        resize: none;
        @media screen and (max-width: $medium) {
            width: 100%;
        }
    }

    .tourist-spot-submit-wrapper {
        max-width: 704px;
        text-align: right;
        @media screen and (max-width: $medium) {
            margin-right: auto;
            margin-left: auto;
        }

        .tourist-spot-submit-button {
            width: 100%;
            max-width: 120px;
            height: 56px;
            border: 0;
            border-radius: 10px;
            color: $white;
            background: $red-300;
            transform: background-color 0.2s linear;
            &:hover {
                background: $red-500;
            }
            &:active {
                background: $red-300;
            }
            @media screen and (max-width: $medium) {
                max-width: 100%;
            }
        }
    }
}
