.tourist-spot-result-title {
    margin-bottom: 32px;
}

.tourist-spots-wrapper,
.new-tourist-spots-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: $medium) {
        grid-template-columns: repeat(1, 1fr);
    }

    .tourist-spot {
        display: flex;
        margin-right: 24px;
        margin-bottom: 16px;
        background: $white;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        @media screen and (max-width: $medium) {
            flex-direction: column;
            margin-right: 0;
        }

        .tourist-spot-text {
            padding-top: 24px;
            @media screen and (max-width: $medium) {
                width: 100%;
                text-align: left;
                padding: 52px;
            }

            .tourist-spot-title {
                min-height: 60px;
                margin-bottom: 8px;
                line-height: 28px;
                @media screen and (max-width: $medium) {
                    min-height: 60px;
                    height: auto;
                }
            }

            .tourist-spot-description {
                color: $gray-500;
                line-height: 24px;
                font-size: 16px;
            }
        }

        .tourist-spot-image {
            border-radius: 10px;
            min-height: 212px;
            max-height: 260px;
            width: 288px;
            margin-right: 24px;
            @media screen and (max-width: $medium) {
                max-height: 212px;
            }
        }
    }
}
